{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-center">
    <!-- Resimleri yan yana koymak için flexbox kullanıyoruz -->
    <div class="d-flex justify-content-center flex-wrap">
        <img src="{% static 'website_app/1-10.jpg' %}" alt="ürün 1" class="img-fluid custom-img m-2">
        <img src="{% static 'website_app/2-9-768x1152.jpg' %}" alt="ürün 2" class="img-fluid custom-img m-2">
        <img src="{% static 'website_app/3-6.jpg' %}" alt="ürün 3" class="img-fluid custom-img m-2">
        <img src="{% static 'website_app/1-18.jpg' %}" alt="ürün 4" class="img-fluid custom-img m-2">
        <img src="{% static 'website_app/2-12-768x1152.jpg' %}" alt="ürün 3" class="img-fluid custom-img m-2">
        <img src="{% static 'website_app/3-5.jpg' %}" alt="ürün 4" class="img-fluid custom-img m-2">
        <img src="{% static 'website_app/2-21.jpg' %}" alt="ürün 4" class="img-fluid custom-img m-2">


    </div>
</div>

<style>
    .custom-img {
        max-width: 25%; /* Büyük ekranlarda resimleri %25 genişlikte tut */
    }

    @media (max-width: 991px) {
        .custom-img {
            max-width: 100%; /* Küçük ekranlarda tam genişlik */
        }
    }
</style>

{% endblock %}
