{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-center">
    <!-- Resimleri yan yana koymak için flexbox kullanıyoruz -->
    <div class="d-flex justify-content-center flex-wrap">
        <img src="{% static 'website_app/IMG_0153.jpeg' %}" alt="ürün 1" class="img-fluid custom-img m-2">
        <img src="{% static 'website_app/IMG_0154.jpeg' %}" alt="ürün 2" class="img-fluid custom-img m-2">
        <img src="{% static 'website_app/IMG_0155.jpeg' %}" alt="ürün 3" class="img-fluid custom-img m-2">
    </div>
</div>

<style>
    .custom-img {
        max-width: 25%; /* Büyük ekranlarda resimleri %25 genişlikte tut */
    }

    @media (max-width: 991px) {
        .custom-img {
            max-width: 100%; /* Küçük ekranlarda tam genişlik */
        }
    }
</style>

{% endblock %}
