{% extends "base.html" %}
{% load static %}  <!-- Burada static etiketini yüklediğinden emin ol -->
{% block content %}


<div class="alert alert-warning text-center" style="margin-bottom: 20px; background-color:chartreuse; color: black; font-size: small;">
    NOTE
  </div>

<div class="container">
    <div class="row g-4"> <!-- Kartlar için grid sistemi -->

        <div class="col-6 col-sm-6 col-md-3"> <!-- Mobilde yarım genişlik, tablette yarım, büyük ekranlarda dörtte bir -->
            <div class="card">
                <img src="{% static 'website_app/example.png' %}" class="card-img-top">
                <div class="card-body">
                    <p class="card-title" style="font-size: small;">ürün 1</p>
                    <p class="card-text" style="font-size:large; margin-top: 5px; margin-bottom: 5px;">399.99 TL</p>
                    <p class="card-text" style="color: blanchedalmond; background-color: brown; text-align: center; font-size:x-small; margin: 2px;">bilgi</p>
                    <a href="{% url 'website_app:info_1' %}" class="btn btn-primary" style="padding: 0.25rem 0.5rem; font-size: x-small; margin-bottom: 2px;">Ürünü İncele</a>
                    <a href="{% url 'website_app:order_1' %}" class="btn btn-success" style="padding: 0.25rem 0.5rem; font-size: x-small;">Sipariş ver</a>
                </div>
            </div>
        </div>
        

        <div class="col-6 col-sm-6 col-md-3"> <!-- Mobilde yarım genişlik, tablette yarım, büyük ekranlarda dörtte bir -->
            <div class="card">
                <img src="{% static 'website_app/example.png' %}" class="card-img-top">
                <div class="card-body">
                    <p class="card-title" style="font-size: small;">ürün 2</p>
                    <p class="card-text" style="font-size:large; margin-top: 5px; margin-bottom: 5px;">399.99 TL</p>
                    <p class="card-text" style="color: blanchedalmond; background-color: brown; text-align: center; font-size:x-small; margin: 2px;">bilgi</p>
                    <a href="{% url 'website_app:info_2' %}" class="btn btn-primary" style="padding: 0.25rem 0.5rem; font-size: x-small; margin-bottom: 2px;">Ürünü İncele</a>
                    <a href="{% url 'website_app:order_2' %}" class="btn btn-success" style="padding: 0.25rem 0.5rem; font-size: x-small;">Sipariş ver</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3"> <!-- Mobilde yarım genişlik, tablette yarım, büyük ekranlarda dörtte bir -->
            <div class="card">
                <img src="{% static 'website_app/example.png' %}" class="card-img-top">
                <div class="card-body">
                    <p class="card-title" style="font-size:small; margin-top: 5px; margin-bottom: 5px;">ürün 3</p>
                    <p class="card-text" style="font-size:large; margin-top: 5px; margin-bottom: 5px;">399.99 TL</p>
                    <p class="card-text" style="color: blanchedalmond; background-color: brown; text-align: center; font-size:x-small; margin: 2px;">bilgi</p>
                    <a href="{% url 'website_app:info_3' %}" class="btn btn-primary" style="padding: 0.25rem 0.5rem; font-size: x-small; margin-bottom: 2px;">Ürünü İncele</a>
                    <a href="{% url 'website_app:order_3' %}" class="btn btn-success" style="padding: 0.25rem 0.5rem; font-size: x-small;">Sipariş ver</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3"> <!-- Mobilde yarım genişlik, tablette yarım, büyük ekranlarda dörtte bir -->
            <div class="card">
                <img src="{% static 'website_app/example.png' %}" class="card-img-top">
                <div class="card-body">
                    <p class="card-title" style="font-size:small; margin-top: 5px; margin-bottom: 5px;">ürün 4</p>
                    <p class="card-text" style="font-size:large; margin-top: 5px; margin-bottom: 5px;">399.99 TL</p>
                    <p class="card-text" style="color: blanchedalmond; background-color: brown; text-align: center; font-size:x-small; margin: 2px;">bilgi</p>
                    <a href="{% url 'website_app:info_4' %}" class="btn btn-primary" style="padding: 0.25rem 0.5rem; font-size: x-small; margin-bottom: 2px;">Ürünü İncele</a>
                    <a href="{% url 'website_app:order_4' %}" class="btn btn-success" style="padding: 0.25rem 0.5rem; font-size: x-small;">Sipariş ver</a>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}
